FORMAT: 1A
HOST: http://boardgamedb.me/

# boardgamedb

This API will display general info about a collection of board games such as their developer(s), genre, and the mechanics they have as well as events for players to meet up and enjoy board games.

## Games [/api/games]

These call provide information for the specific games in our database. 

### List All Board Games [GET] 

+ Response 200 (application/json)

    
        {
            “games”: [{
                    “id”: 1, 
                    “name”: “Catan”
                },
                ...
            ]
        }

        
### Show Data for One Game [GET /api/games/{id}]

+ Parameters
    + id (required, int, `1`) ... Game ID


+ Response 200 (application/json)

        {
            “id”: 1,
            “name”: “Catan”,
            “alternate_names”: [“Catane”, ...],
            “type”: “Board Game”,
            “desc”: “A 3-4 player game that...”,
            “family”: “Catan”,
            “genre”: [“Negotiation”, ...],
            “year”: 1995,
            “publishers”: [“KOSMOS”, ...],
            “developers”: [“Klaus Teuber”],
            “artists”: [“Volkan Baga”, ...],
            “mechanics”: [“Trading”, ...],
            “min_players”: 3,
            “max_players”: 4,
            “suggested_players”: [100, 450],
            “suggested_age”: [0,0,100, ...],
            “price”: 49.00,
            “rating”: 7.25022
        }


## Developers [/api/developers]

These callsprovide information about the board game developers in our database.

### List All Developers [GET] 

+ Response 200 (application/json)

        {
            “developers”: [{
                    “id”: 1, 
                    “name”: “Klaus Teuber”
                },
                ...
            ]
        }

        
### Show Data for One Developer [GET /api/developers/{id}]

+ Parameters
    + id (required, int, `1`) ... Developer ID


+ Response 200 (application/json)

        {
            “id”: 1,
            “name”: “Klaus Teuber”,
            “desc”: “A famous German game designer ...”,
            “date_birth”: “June 25, 1952”,
            “date_death”: “”,
            “date_created”: “1995”
            “artists”: [“Volkan Baga”, ...],
            “games”: [“Catan”],
            “genres”: [“Negotiation”, ...],
            “awards”: [“2003 Origins Awards Hall of Fame Inductee”, ...],
            “website”: “http://www.klausteuber.de/”
        }   



## Genres [/api/genres]

These calls provide data of all the genres that our games fall under. 

### List All Genres [GET] 

+ Response 200 (application/json)

        {
            “genres”: [{
                    “id”: 1, 
                    “name”: “Negotiation”
                },
                ...
            ]
        }


### Show Data for One Genre [GET /api/genres/{id}]

+ Parameters
    + id (required, int, `1`) ... Genre ID


+ Response 200 (application/json)

        {
            “id”: 1,
            “name”: “Negotiation”,
            “desc”: “A game category that requires player to ...”,
            “mechanics”: [“Trading”, ...],
            “type”: “Mainstream”,
            “games”: [“Catan”, “Monopoly”, ...],
            “developers”: [“Klaus Teuber”, ...],
            “popularity”: 46
        }


## Events [/api/events]

These calls provide information about the board game events in our database.

### List All Events [GET] 

+ Response 200 (application/json)

        {
            “events”: [{
                    “id”: 1, 
                    “name”: “Catan World Championship”
                },
                ...
            ]
        }
        
        
### Show Data for One Event [GET /api/events/{id}]

+ Parameters
    + id (required, int, `1`) ... Event ID


+ Response 200 (application/json)

        {
            “id”: 1,
            “name”: “Catan World Championship”,
            “desc”: “A tournament to decide the best Settlers of ...”,
            “type”: “Tournament/Competition”,
            “date”: [“September 23 - 26, 2016”, “October 2018”],
            “locations”: [“Durango, USA”, “Germany”, ...],
            “winners”: [“William Cavaretta (USA)”],
            “games”: [“Catan”],
            “reward”: “trophy”
        }
        
## Search [/api/search/{attribute1}={val1}&{attribute2}={val2}...]

This call provides search functionality to our website.

### Search Model Instance by Attribute [GET]

+ Parameters
    + attribute1 (required, string, `popularity`) ... Attribute to search
    + val1 (required, string, `1`) ... Value of attribute
    + attribute2 (required, string, `rating`) ... Attribute to search
    + val2 (required, string, `5`) ... Value of attribute
    
+ Response 200 (application/json)

        {
            “results”: [{
                    “id”: 1,
                    “model”: “Board Game”,
                    “name”: “Catan”
                },
                {
                    “id”: 1,
                    “model”: “Casual Meet-up”,
                    “name”: “Catan and Ticket to Ride Crew”
                }
                ...
            ]
        }