{% extends "genre_models/genre_model.html" %}

{% block model_name %}Economic{% endblock %}
{% block title %}Economic{% endblock %}
{% block page_id %}economic{% endblock %}
{% block genres_active %}active{% endblock %}
{% block model_img %}https://cdn0.iconfinder.com/data/icons/economy/450/world-economy-512.png{% endblock %}

{% block model_desc_attribute %}
    <p>Economic games encourage players to develop and manage a system of production, distribution, trade, and/or consumption of goods. The games usually simulate a market in some way. The term is often used interchangeably with resource management games.</p>
{% endblock %}

{% block model_mechanics_attribute %}
<ul>
    <li>Auction/Bidding</li>
    <li>Stock Holding</li>
    <li>Trading</li>
</ul>
{% endblock %}

{% block model_type_attribute %}
    Mainstream
{% endblock %}

{% block model_games_attribute %}
<ul>
    <li>
        <a href="../games/monopoly">
                    Monopoly
        </a>
    </li>
</ul>
{% endblock %}

{% block model_developers_attribute %}
<ul>
    <li>
        <a href="/developers/magie">Elizabeth J. Magie (Phillips)</a>
    </li>
</ul>
{% endblock %}

{% block model_popularity_attribute %}
    46
{% endblock %}
