{% extends "base.html" %}

{% block content %}

<div id="instance">
    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>{% block model_name %}{% endblock %}</h2>
        </div>
        <section id="model-picture">
             <img class="d-block w-100" src="{% block model_img %} {% endblock %}" height=600px>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Description</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_desc_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Mechanics</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_mechanics_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Type</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_type_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Games</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_games_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Developers</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_developers_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>

    <div id="grid-header" class="page-header">
        <div class="page-header">
            <h2>Popularity</h2>
        </div>
        <section class="grid-content">
            <div class="row">
                <section class="grid-model-attribute">
                    {% block model_popularity_attribute %}{% endblock %}
                </section>
            </div>
        </section>
    </div>
</div>
{% endblock %}
