{% extends "genre_models/genre_model.html" %}

{% block model_name %}Negotiation{% endblock %}
{% block title %}Negotiation{% endblock %}
{% block page_id %}negotiation{% endblock %}
{% block genres_active %}active{% endblock %}
{% block model_img %}https://d30y9cdsu7xlg0.cloudfront.net/png/180167-200.png{% endblock %}

{% block model_desc_attribute %}
    <p>Negotiation games explicitly involve and encourage making deals and alliances with other players and backstabbing when appropriate. Winning is rare without participating in these deals.</p>
    <p>Unlike cooperative games, Negotiation games are still largely competitive, while granting players certain times to make mutual agreements through discussion.</p>
    <p>Negotiation also includes bribery, such as is used in Santiago or Power Struggle. In these situations, the negotiation is in the form of a naked offer, which can be accepted or declined.</p>
{% endblock %}

{% block model_mechanics_attribute %}
<ul>
    <li>Trading</li>
</ul>
{% endblock %}

{% block model_type_attribute %}
    Mainstream
{% endblock %}

{% block model_games_attribute %}
<ul>
    <li>
        <a href="../games/monopoly">
                    Monopoly
        </a>
    </li>
    <li>
        <a href="../games/catan">
                    Catan
        </a>
    </li>
</ul>
{% endblock %}

{% block model_developers_attribute %}
<ul>
    <li>
        <a href="/developers/magie">Elizabeth J. Magie (Phillips)</a>
    </li>
    <li>
        <a href="/developers/teuber">Klaus Teuber</a>
    </li>
</ul>
{% endblock %}

{% block model_popularity_attribute %}
    16
{% endblock %}
