{% extends "dev_models/dev_model.html" %}

{% block model_name %}Elizabeth J. Magie{% endblock %}
{% block title %}Elizabeth J. Magie{% endblock %}
{% block page_id %}magie{% endblock %}
{% block model_img %}https://cf.geekdo-images.com/images/pic945028_t.jpg{% endblock %}

{% block model_desc_attribute %}
    Magie is the creator of Monopoly, a popular game within the
    <a href="../genres/economic">
                    economic
    </a>
    and
    <a href="../genres/negotiation">
                    negotiation
    </a>
    genres. She lived between 1866 and 1948. More information can be found on
    her Wikipedia page: <a href="http://en.wikipedia.org/wiki/Elizabeth_Magie">http://en.wikipedia.org/wiki/Elizabeth_Magie</a>
{% endblock %}

{% block model_date_attribute %}
    1903
{% endblock %}

{% block model_games_attribute %}
<ul>
    <li>
        <a href="../games/monopoly">
                    Monopoly
        </a>
    </li>
</ul>
{% endblock %}


{% block model_artists_attribute %}
<ul>
    <li>Frantz Rey</li>
</ul>
{% endblock %}

{% block model_publishers_attribute %}
<ul>
    <li>Alga</li>
    <li>Estrela</li>
    <li>Tilsit</li>
</ul>
{% endblock %}
