{% extends "dev_models/dev_model.html" %}

{% block model_name %}Anthony E. Pratt{% endblock %}
{% block title %}Anthony E. Pratt{% endblock %}
{% block page_id %}pratt{% endblock %}
{% block model_img %}https://cf.geekdo-images.com/images/pic940371_t.jpg{% endblock %}

{% block model_desc_attribute %}
    Pratt is the creator of Clue, a popular game within the
    <a href="../genres/deduction">
                    deduction
    </a>
    genre. He lived between August 10, 1903 - April 9, 1994. More information
    can be found on his Wikipedia page: <a href="https://en.wikipedia.org/wiki/Anthony_E._Pratt">https://en.wikipedia.org/wiki/Anthony_E._Pratt</a>
{% endblock %}

{% block model_date_attribute %}
    1949
{% endblock %}

{% block model_games_attribute %}
<ul>
    <li>
        <a href="../games/clue">
                    Clue
        </a>
    </li>
</ul>
{% endblock %}


{% block model_artists_attribute %}
<ul>
    <li>René Goscinny</li>
    <li>Matt Groening</li>
    <li>Rune Johansson</li>
    <li>Drew Struzan</li>
    <li>Albert Uderzo</li>
</ul>
{% endblock %}

{% block model_publishers_attribute %}
<ul>
    <li>Alga</li>
    <li>Estrela</li>
    <li>Parker Brothers</li>
</ul>
{% endblock %}
