{% extends "dev_models/dev_model.html" %}

{% block model_name %}Anthony E. Pratt{% endblock %}
{% block title %}Anthony E. Pratt{% endblock %}
{% block page_id %}pratt{% endblock %}
{% block model_img %}https://cf.geekdo-images.com/images/pic940371_t.jpg{% endblock %}

{% block model_desc_attribute %}
    Pratt is the creator of Clue, a popular game within the
    <a href="../genre/deduction">
                    deduction
    </a>
    genre.
{% endblock %}

{% block model_date_attribute %}
    1949
{% endblock %}

{% block model_games_attribute %}

    <li>
        <a href="../games/clue">
                    Clue
        </a>
    </li>
{% endblock %}


{% block model_artists_attribute %}
    <li>René Goscinny</li>
    <li>Matt Groening</li>
    <li>Rune Johansson</li>
    <li>Drew Struzan</li>
    <li>Albert Uderzo</li>
{% endblock %}

{% block model_publishers_attribute %}
    <li>Alga</li>
    <li>Estrela</li>
    <li>Parker Brothers</li>
{% endblock %}