{% extends "dev_model.html" %}

{% block model_name %}Klaus Teuber{% endblock %}
{% block title %}Klaus Teuber{% endblock %}
{% block page_id %}teuber{% endblock %}
{% block model_img %}https://cf.geekdo-images.com/images/pic820225_t.jpg{% endblock %}

{% block model_desc_attribute %}
    Teuber has created games within the
    <a href="../genre/deduction">
                    deduction
    </a>
    and
    <a href="../genre/negotiation">
                    negotiation
    </a>
    genres.
{% endblock %}

{% block model_date_attribute %}
    1988
{% endblock %}

{% block model_games_attribute %}
    <li>Barbarossas</li>
    <li>Hoity Toity</li>
    <li>Wacky Wacky West</li>
    <li>
        <a href="../games/catan">
                    Catan
        </a>
    </li>
    <li>Löwenherz</li>
    <li>Domaine</li>
    <li>Anno 1503</li>
    <li>Elasund: The First City</li>
    <li>Anno 1701: Das Brettspiel</li>
{% endblock %}


{% block model_artists_attribute %}
    <li>Volkan Baga</li>
    <li>Tanja Donner</li>
    <li>Pete Fenlon</li>
    <li>Jason Hawkins</li>
    <li>Michaela Kienle</li>
    <li>Harald Lieske</li>
    <li>Michael Menzel</li>
    <li>Marion Pott</li>
    <li>Matt Schwabel</li>
    <li>Franz Vohwinkel</li>
    <li>Stephen Graham Walsh</li>
{% endblock %}

{% block model_publishers_attribute %}
    <li>KOSMOS</li>
    <li>Catan Studio</li>
    <li>Piatnik</li>
{% endblock %}