#wrapper {
	margin: 0;
	padding: 0;
}

/*#main-carousel img {
  min-width: 100%;
  height: 500px;
  max-width: none;
}*/

.page-header {
  padding-top: 20px;
}

/* about */

#main-content-about .about-person {
	text-align: center;
	margin: 20px;
}

#main-content-about .about-person-img {
	width: 200px;
	height: 200px;
}

#main-content-about .about-person-name {
	font-weight: bold;
}

#main-content-about .about-person-detail {
	text-align: left;
}

.grid-header {
    padding-top: 50px;
}

.grid-model {
    text-align: center;
    margin: 20px;
}

.grid-model-img {
    width: 200px;
    height: 200px;
}

.grid-model-name {
    font-weight: bold;
}

.grid-model-attribute {
    text-align: left;
}
