#wrapper {
    margin: 0;
    padding: 0;
}

.page-header {
  padding-top: 20px;
}

.page-footer {
    padding-bottom: 20px;
}

.about-person {
    text-align: center;
    margin: 20px;
    width: 302px;
    height: 100%;
}

.about-person-img {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.about-person-name {
    font-weight: bold;
}

.about-person-detail {
    text-align: left;
}

.grid-header {
    padding-top: 50px;
}

.grid-model {
    text-align: center;
    margin: 20px;
    width: 302px;
    height: 440px;
}

.search-model {
    height: 180px;
    text-align: left;
    margin: 20px;
}

.grid-model-img {
    width: 300px;
    height: 200px;
}

.model-instance {
    text-align: center;
    margin: 20px;
}

.model-instance-attribute {
    text-align: left;
    margin-left: 16px;
}

.model-instance-img {
    width: 100%;
    height: 600px;
}

.model-name {
    font-weight: bold;
}

.model-attribute {
    text-align: left;
}

/*
 * Data Viz
 */

.node {
    font: 300 8px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #888;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: steelblue;
    stroke-width: 0.2px;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: bold;
    font-size: 10px;
}

.node--source {
    fill: #2ca02c;
}

.node--target {
    fill: #d62728;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #d62728;
}

.link--target {
    stroke: #2ca02c;
}
