{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block page_id %}about{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}
<div id="about-site-header" class="page-header">
  <h2>The Site</h2>
</div>
<section id="about-site-content">
    [some description of the website]
</section>


<div id="about-team-header" class="page-header">
    <h2>The Team</h2>
</div>
<section id="about-team-content">
    <div class="row">
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://anuragbakshi.github.io/CS-373-Blog/assets/headshot.jpg">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Anurag Bakshi</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Junior studying CS and Math at UT Austin. Enjoys traveling and road trips.</li>
                        <li>Responsibilities: Frontend, Backend, GCP and domain management</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://quangmire.files.wordpress.com/2017/09/me.png">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Quang Duong</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: [a small bio]</li>
                        <li>Responsibilities: Frontend, scraping and parsing data, Report</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://jsphyinswe.files.wordpress.com/2017/09/headshot.jpg?w=300&h=300">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Joseph Yin</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: [a small bio]</li>
                        <li>Responsibilities: Task management, Frontend</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://kamronledet.files.wordpress.com/2017/09/15289202_897036407098184_508436949144464272_o.jpg">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Kamron Ledet</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: [a small bio]</li>
                        <li>Responsibilities: Apiary, Domain management</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://aytiel.files.wordpress.com/2017/01/cropped-img_20160920_19234311.jpg?w=640">   
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Alexander Lo</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: [a small bio]</li>
                        <li>Responsibilities: Apiary</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="about-stats-header" class="page-header">
  <h2>Stats</h2>
</div>
<section id="about-stats-content">
    <ul>
        <li>Total No. of Commits: 0</li>
        <li>Total No. of Issues: 0</li>
        <li>Total No. of Unit Tests: 0</li>
        <li><a href="http://docs.boardgamedb.apiary.io/">Apiary</a></li>
        <li><a href="https://github.com/jsphyin/idb">Github</a></li>
        <li><a href="https://trello.com/b/EIE23URq/swe-project">Trello</a></li>
    </ul>
</section>

<div id="about-data-header" class="page-header">
  <h2>Data</h2>
</div>
<section id="about-data-content">
    <ul>
        <li><a href="http://www.boardgamegeek.com/xmlapi">http://www.boardgamegeek.com/xmlapi</a></li>
        <li><a href="http://www.mediawiki.org/wiki/API ">http://www.mediawiki.org/wiki/API </a></li>
        <li><a href="http://www.reddit.com/dev/api">http://www.reddit.com/dev/api</a></li>
    </ul>
    [description of how we scraped data]
</section>

<div id="about-tools-header" class="page-header">
  <h2>Tools</h2>
</div>
<section id="about-tools-content">
    [some tools]
</section>

<div id="about-report-header" class="page-header">
  <h2><a href="#">Report [add link when done]</a></h2>
</div>
<!--<div id="about-report-header" class="page-header">
  <h2>Report</h2>
</div>
<section id="about-report-content">
    You can find the pdf <a href="#">here [add link when completed]</a>.
</section>-->
{% endblock %}
