{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block page_id %}about{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}
<div id="about-site-header" class="page-header">
  <h2>The Site</h2>
</div>
<section id="about-site-content">
    Board Game DB is a website for board game fans to search for games, genres, publishers, and events.
</section>


<div id="about-team-header" class="page-header">
    <h2>The Team</h2>
</div>
<section id="about-team-content">
    <div class="row">
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://anuragbakshi.github.io/CS-373-Blog/assets/headshot.jpg">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Anurag Bakshi</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Anurag is a junior studying CS and Math at UT Austin. He enjoys traveling, road trips, and barbecue.</li>
                        <li>Responsibilities: Frontend, Backend, GCP and domain management</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://quangmire.files.wordpress.com/2017/09/me.png">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Quang Duong</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Quang is a third year CS/Math student with an addiction to reading anything from fantasy to romance.</li>
                        <li>Responsibilities: Frontend, scraping and parsing data, Report</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://jsphyinswe.files.wordpress.com/2017/09/headshot.jpg?w=300&h=300">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Joseph Yin</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Joseph is a third year student at UT pursuing a BS in computer science. In his free time he enjoys reading manga, browsing memes, and playing league.</li>
                        <li>Responsibilities: Task management, Frontend</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://kamronledet.files.wordpress.com/2017/09/15289202_897036407098184_508436949144464272_o.jpg">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Kamron Ledet</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Kamron Ledet is a third-year Computer Science major interested in programming for games and software. He also takes an interest in acting and has been active in theatre since junior high.</li>
                        <li>Responsibilities: Apiary, Domain management</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col about-person">
            <div class="row">
                <div class="col">
                  <img class="about-person-img" src="https://aytiel.files.wordpress.com/2017/01/cropped-img_20160920_19234311.jpg?w=640">   
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="about-person-name">Alexander Lo</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="about-person-detail">
                        <li>Bio: Hi! My name is Alex. I am a third year computer science major with an interest in pursuing game and graphical development.</li>
                        <li>Responsibilities: Apiary</li>
                        <li>No. Of Commits: 0</li>
                        <li>No. Of Issues: 0</li>
                        <li>No. Of Unit Tests: 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="about-stats-header" class="page-header">
  <h2>Stats</h2>
</div>
<section id="about-stats-content">
    <ul>
        <li>Total No. of Commits: 0</li>
        <li>Total No. of Issues: 0</li>
        <li>Total No. of Unit Tests: 0</li>
        <li><a href="http://docs.boardgamedb.apiary.io/">Apiary</a></li>
        <li><a href="https://github.com/jsphyin/idb">Github</a></li>
        <li><a href="https://trello.com/b/EIE23URq/swe-project">Trello</a></li>
    </ul>
</section>

<div id="about-data-header" class="page-header">
  <h2>Data</h2>
</div>
<section id="about-data-content">
    <ul>
        <li><a href="http://www.boardgamegeek.com/xmlapi">http://www.boardgamegeek.com/xmlapi</a></li>
        <li><a href="http://www.mediawiki.org/wiki/API ">http://www.mediawiki.org/wiki/API </a></li>
        <li><a href="http://www.reddit.com/dev/api">http://www.reddit.com/dev/api</a></li>
    </ul>
    Using the Python <a href="http://docs.python-requests.org/en/master/">requests</a> library, we grabbed all the XML by iterating through all possible ids and filtering out all the non-board game items.
</section>

<div id="about-tools-header" class="page-header">
  <h2>Tools</h2>
</div>
<section id="about-tools-content">
    [some tools]
</section>

<div id="about-report-header" class="page-header">
  <h2><a href="#">Report [add link when done]</a></h2>
</div>
<!--<div id="about-report-header" class="page-header">
  <h2>Report</h2>
</div>
<section id="about-report-content">
    You can find the pdf <a href="#">here [add link when completed]</a>.
</section>-->
{% endblock %}
