{% extends "grid.html" %}

{% block model_name %}Developers{% endblock %}
{% block title %}Developers{% endblock %}
{% block page_id %}developers{% endblock %}
{% block developers_active %}active{% endblock %}

{% block model_description %}A listing of all the current available developers{% endblock %}

{% block model_1_name %}Klaus Teuber{% endblock %}
{% block model_1_img %}https://cf.geekdo-images.com/images/pic820225_t.jpg{% endblock %}
{% block model_1_link%}developers/teuber{% endblock %}
{% block model_1_attribute %}
<li>Born June 25, 1952</li>
<li>Created Barbarossa, Hoity Toity, Wacky Wild West, Catan, Catan Card Game,
    Löwenherz, Domaine, Anno 1503, Elasund: The First City, Anno 1701: Das
    Brettspiel</li>
<li>2003 Origins Awards Hall of Fame Inductee</li>
<li>Published by KOSMOS</li>
<li>http://www.klausteuber.de/</li>
{% endblock %}


{% block model_2_name %}Elizabeth J. Magie (Phillips){% endblock %}
{% block model_2_img %}https://cf.geekdo-images.com/images/pic945028_t.jpg{% endblock %}
{% block model_2_link%}developers/magie{% endblock %}
{% block model_2_attribute %}
<li>Lived 1866 - 1948</li>
<li>Created Landlord's Game, Monopoly</li>
<li>No awards or honors</li>
<li>Unknown Publisher (original), Hasbro</li>
<li>http://en.wikipedia.org/wiki/Elizabeth_Magie</li>
{% endblock %}

{% block model_3_name %}Anthony E. Pratt{% endblock %}
{% block model_3_img %}https://cf.geekdo-images.com/images/pic940371_t.jpg{% endblock %}
{% block model_3_link%}developers/pratt{% endblock %}
{% block model_3_attribute %}
<li>Lived August 10, 1903 - April 9, 1994</li>
<li>Created Clue</li>
<li>No awards or honors</li>
<li>Unknown Publisher (original), Hasbro</li>
<li>https://en.wikipedia.org/wiki/Anthony_E._Pratt</li>
{% endblock %}
