{% extends "grid.html" %}

{% block model_name %}Events{% endblock %}
{% block title %}Events{% endblock %}
{% block page_id %}events{% endblock %}
{% block events_active %}active{% endblock %}

{% block model_description %}A listing of all the current available events{% endblock %}

{% block model_1_name %}Catan World Championships{% endblock %}
{% block model_1_img %}http://www.erzo.org/shannon/images-rpg/catan5-1.jpg{% endblock %}
{% block model_1_link%}events/cwc{% endblock %}
{% block model_1_attribute %}
<li>Competition/Tournament</li>
<li>September 23 - 26, 2016 in Durango, USA</li>
<li>Includes <a href="/games/catan">Settlers of Catan</a></li>
<li>Genres Present: <a href="/genres/negotiation">Negotiation</a></li>
<li>Winner: William Cavaretta (USA)</li>
<li>Next Tournament in Germany in October 2018</li>
{% endblock %}


{% block model_2_name %}Catan European Championships{% endblock %}
{% block model_2_img %}http://www.erzo.org/shannon/images-rpg/catan5-1.jpg{% endblock %}
{% block model_2_link%}events/cec{% endblock %}
{% block model_2_attribute %}
<li>Competition/Tournament</li>
<li>November 13 - 15, 2015 in Spielefest, Vienna</li>
<li>Includes <a href="/games/catan">Settlers of Catan</a></li>
<li>Genres Present: <a href="/genres/negotiation">Negotiation</a></li>
<li>Winner: Lech Olczak (Poland)</li>
<li>Next Tournament in Barcelona, Spain in December 2017</li>
{% endblock %}

{% block model_3_name %}Monopoly World Championships{% endblock %}
{% block model_3_img %}https://i5.walmartimages.ca/images/Large/313/221/1313221.jpg?odnBound=460{% endblock %}
{% block model_3_link%}events/mwc{% endblock %}
{% block model_3_attribute %}
<li>Competition/Tournament</li>
<li>September 8, 2015 in Macau</li>
<li>Includes <a href="/games/monopoly">Monopoly</a></li>
<li>Genres Present: <a href="/genres/negotiation">Negotiation</a>, <a href="/genres/economic">Economic</a></li>
<li>Winner: Nicolò Falcone (Italy)</li>
<li>Next Tournament TBD</li>
{% endblock %}
