{% extends "grid.html" %}

{% block model_name %}Board Games{% endblock %}
{% block title %}Board Games{% endblock %}
{% block page_id %}games{% endblock %}
{% block games_active %}active{% endblock %}

{% block model_description %}A listing of all the current available board games{% endblock %}

{% block model_1_name %}Settlers of Catan{% endblock %}
{% block model_1_img %}http://www.erzo.org/shannon/images-rpg/catan5-1.jpg{% endblock %}
{% block model_1_attribute %}
<li>Developed by Klaus Teuber</li>
<li>3 - 4 Players</li>
<li>60 - 120 Minutes</li>
<li>Negotiation</li>
<li>7.25022 / 10.00000 Stars</li>
{% endblock %}


{% block model_2_name %}Monopoly{% endblock %}
{% block model_2_img %}https://i5.walmartimages.ca/images/Large/313/221/1313221.jpg?odnBound=460{% endblock %}
{% block model_2_attribute %}
<li>Developed by Elizabeth J. Magie (Phillips)</li>
<li>2 - 8 Players</li>
<li>60 - 180 Minutes</li>
<li>Economic, Negotiation</li>
<li>4.41139 / 10.00000 Stars</li>
{% endblock %}

{% block model_3_name %}Clue{% endblock %}
{% block model_3_img %}https://fthmb.tqn.com/gPrPIWmEiMGtka1e1NjW9PFUN_M=/960x0/filters:no_upscale()/about/clue-58a6f5775f9b58a3c91a4cc5.jpg{% endblock %}
{% block model_3_attribute %}
<li>Developed by Anthony E. Pratt</li>
<li>3 - 6 Players</li>
<li>45 Minutes</li>
<li>Bluffing, Deduction, Movies / TV / Radio Theme, Murder Mystery</li>
<li>5.64251 / 10.00000 Stars</li>
{% endblock %}
