{% extends "base.html" %}

{% block content %}

{% for game in gameData | batch (3, '&nbsp') %}
    <section id="grid-content">
    <div class="row">
        {% for game in game %}
        <div class="col grid-model">
            <div class="row">
                <div class="col">
                    <a href={{game["link"]}}>
                    <img class="grid-model-img" src={{game["img"]}}>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grid-model-name">{{game["name"]}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="grid-model-attribute">
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
{% endfor %}


{% endblock %}
