{% extends "grid.html" %}

{% block model_name %}Genres{% endblock %}
{% block title %}Genres{% endblock %}
{% block page_id %}genres{% endblock %}
{% block genres_active %}active{% endblock %}

{% block model_description %}A listing of all the current available genres{% endblock %}

{% block model_1_name %}Negotiation{% endblock %}
{% block model_1_img %}https://d30y9cdsu7xlg0.cloudfront.net/png/180167-200.png{% endblock %}
{% block model_1_link%}genres/negotiation{% endblock %}
{% block model_1_attribute %}
<li>Negotiation games explicitly involve and encourage making deals and
    alliances with other players and backstabbing when appropriate. Winning is
    rare without participating in these deals. Unlike cooperative games,
    Negotiation games are still largely competitive, while granting players
    certain times to make mutual agreements through discussion.</li>
<li>Mainstream Genre</li>
<li>Includes Monopoly, Settlers of Catan</li>
<li>Mechanics: Trading</li>
<li>Popularity: 16</li>
{% endblock %}


{% block model_2_name %}Economic{% endblock %}
{% block model_2_img %}https://cdn0.iconfinder.com/data/icons/economy/450/world-economy-512.png{% endblock %}
{% block model_2_link%}genres/economic{% endblock %}
{% block model_2_attribute %}
<li>Economic games encourage players to develop and manage a system of
    production, distribution, trade, and/or consumption of goods. The games
    usually simulate a market in some way. The term is often used
    interchangeably with resource management games.</li>
<li>Mainstream Genre</li>
<li>Includes Monopoly</li>
<li>Mechanics: Auction/Bidding, Stock Holding, Trading</li>
<li>Popularity: 46</li>
{% endblock %}

{% block model_3_name %}Deduction{% endblock %}
{% block model_3_img %}https://d30y9cdsu7xlg0.cloudfront.net/png/41279-200.png{% endblock %}
{% block model_3_link%}genres/deduction{% endblock %}
{% block model_3_attribute %}
<li>Deduction games are those that require players to form conclusions based on
    available premises. These games are quite varied, including several
    different types of logical reasoning.</li>
<li>Mainstream Genre</li>
<li>Includes Clue</li>
<li>Mechanics: Memory, Paper-and-Pencil</li>
<li>Popularity: 51</li>
{% endblock %}
