{% extends "base.html" %}

{% block content %}

{% for genre in genreData | batch (3, '&nbsp') %}
    <section id="grid-content">
    <div class="row">
        {% for genre in genre %}
        <div class="col grid-model">
            <div class="row">
                <div class="col">
                    <a href={{genre["link"]}}>
                    <img class="grid-model-img" src={{genre["img"]}}>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grid-model-name">{{genre["name"]}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="grid-model-attribute">
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
{% endfor %}


{% endblock %}
