{% extends "base.html" %}

{% block content %}

<div id="grid-header" class="page-header">
    <h2>{% block model_name %}{% endblock %}</h2>
    <section id="grid-description">
        {% block model_description %}{% endblock %}
    </section>
</div>
<section id="grid-content">
    <div class="row">
        <div class="col grid-model">
            <div class="row">
                <div class="col">
                    <img class="grid-model-img" src="{% block model_1_img %}{% endblock %}">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grid-model-name">{% block model_1_name %}{% endblock %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="grid-model-attribute">
                        {% block model_1_attribute %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col grid-model">
            <div class="row">
                <div class="col">
                    <img class="grid-model-img" src="{% block model_2_img %}{% endblock %}">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grid-model-name">{% block model_2_name %}{% endblock %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="grid-model-attribute">
                        {% block model_2_attribute %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col grid-model">
            <div class="row">
                <div class="col">
                    <img class="grid-model-img" src="{% block model_3_img %}{% endblock %}">  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grid-model-name">{% block model_3_name %}{% endblock %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="grid-model-attribute">
                        {% block model_3_attribute %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
