{% extends "game_models/game_model.html" %}

{% block model_name %}Catan{% endblock %}
{% block title %}Catan{% endblock %}
{% block page_id %}catan{% endblock %}
{% block games_active %}active{% endblock %}
{% block model_img %}http://www.erzo.org/shannon/images-rpg/catan5-1.jpg{% endblock %}

{% block model_alt_name_attribute %}
    <li>Catan</li>
<li>The Settlers</li>
<li>Katan</li>{% endblock %}

{% block model_type_attribute %}
    <li>Board Game</li>
{% endblock %}

{% block model_desc_attribute %}
    <p>In Catan (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resources the island produces. Players collect these resources (cards)—wood, grain, brick, sheep, or stone—to build up their civilizations to get to 10 victory points and win the game.</p>
    <p>Setup includes randomly placing large hexagonal tiles (each showing a resource or the desert) in a honeycomb shape and surrounding them with water tiles, some of which contain ports of exchange. Number disks, which will correspond to die rolls (two 6-sided dice are used), are placed on each resource tile. Each player is given two settlements (think: houses) and roads (sticks) which are, in turn, placed on intersections and borders of the resource tiles. Players collect a hand of resource cards based on which hex tiles their last-placed house is adjacent to. A robber pawn is placed on the desert tile.</p>
    <p>A turn consists of possibly playing a development card, rolling the dice, everyone (perhaps) collecting resource cards based on the roll and position of houses (or upgraded cities—think: hotels) unless a 7 is rolled, turning in resource cards (if possible and desired) for improvements, trading cards at a port, and trading resource cards with other players. If a 7 is rolled, the active player moves the robber to a new hex tile and steals resource cards from other players who have built structures adjacent to that tile.</p>
    <p>Points are accumulated by building settlements and cities, having the longest road and the largest army (from some of the development cards), and gathering certain development cards that simply award victory points. When a player has gathered 10 points (some of which may be held in secret), he announces his total and claims the win.</p>
{% endblock %}

{% block model_family_attribute %}
    <li>Catan</li>
    <li>Promotional Board Games</li>
{% endblock %}

{% block model_genre_attribute %}
    <li>Family</li>
    <li>Strategy</li>
    <li>
        <a href="../genres/negotiation">
                    Negotiation
        </a>
    </li>
{% endblock %}

{% block model_year_attribute %}
    <li>1995</li>
{% endblock %}

{% block model_pub_attribute %}
    <li>KOSMOS</li>
    <li>Catan Studio</li>
    <li>Piatnik</li>
{% endblock %}

{% block model_artists_attribute %}
    <li>Volkan Baga</li>
    <li>Tanja Donner</li>
    <li>Pete Fenlon</li>
    <li>Jason Hawkins</li>
    <li>Michaela Kienle</li>
    <li>Harald Lieske</li>
    <li>Michael Menzel</li>
    <li>Marion Pott</li>
    <li>Matt Schwabel</li>
    <li>Franz Vohwinkel</li>
    <li>Stephen Graham Walsh</li>
{% endblock %}

{% block model_dev_attribute %}
    <li>
        <a href="../developers/teuber">
                    Klaus Teuber
        </a>
    </li>
{% endblock %}

{% block model_mechanics_attribute %}
    <li>Dice Rolling</li>
    <li>Hand Management</li>
    <li>Modular Board</li>
    <li>Route / Network Building</li>
    <li>Trading</li>
{% endblock %}

{% block model_num_attribute %}
    <li>3-4 Players</li>
{% endblock %}

{% block model_player_sugg_attribute %}
    <li>3-4 Players/Best: 4 Players</li>
    <li>Ages 8 and up</li>
    <li>Some necessary text - easily memorized or small crib sheet</li>
{% endblock %}

{% block model_price_attribute %}
    <li>$48.99</li>
{% endblock %}

{% block model_rating_attribute %}
    <li>7.3/10</li>
{% endblock %}