{% extends "game_model.html" %}

{% block model_name %}Monopoly{% endblock %}
{% block title %}Monopoly{% endblock %}
{% block page_id %}monopoly{% endblock %}
{% block games_active %}active{% endblock %}
{% block model_img %}https://i.ytimg.com/vi/DioPUDZRpPM/maxresdefault.jpg{% endblock %}

{% block model_alt_name_attribute %}
    <li>Inspopoly</li>
<li>Monopoly Token Madness</li>
<li>Monopoly: General Mills Collector's Edition</li>{% endblock %}

{% block model_type_attribute %}
    <li>Board Game</li>
{% endblock %}

{% block model_family_attribute %}
    <li>Monopoly</li>
{% endblock %}

{% block model_genre_attribute %}
    <li>Family</li>
{% endblock %}

{% block model_year_attribute %}
    <li>1933</li>
{% endblock %}

{% block model_pub_attribute %}
    <li>Alga</li>

{% endblock %}

{% block model_artists_attribute %}
    <li>Frantz Rey</li>
{% endblock %}

{% block model_dev_attribute %}
    <li>Elizabeth J. Magie</li>
{% endblock %}

{% block model_mechanics_attribute %}
    <li>Auction/Bidding</li>
    <li>Player Elimination</li>
    <li>Roll / Spin and Move</li>
    <li>Set Collection</li>
    <li>Stock Holding</li>
    <li>Trading</li>
{% endblock %}

{% block model_player_sugg_attribute %}
    <li>2-8 Players</li>
    <li>Ages 8 and up</li>
    <li>Moderate in-game text - needs crib sheet or paste ups</li>
{% endblock %}

{% block model_price_attribute %}
    <li>$14.99</li>
{% endblock %}

{% block model_rating_attribute %}
    <li>4.4/10</li>
{% endblock %}