{% extends "game_model.html" %}

{% block model_name %}Clue{% endblock %}
{% block title %}Clue{% endblock %}
{% block page_id %}clue{% endblock %}
{% block games_active %}active{% endblock %}
{% block model_img %}https://fthmb.tqn.com/gPrPIWmEiMGtka1e1NjW9PFUN_M=/960x0/filters:no_upscale()/about/clue-58a6f5775f9b58a3c91a4cc5.jpg{% endblock %}

{% block model_alt_name_attribute %}
    <li>Clue: Alfred Hitchcock Edition</li>
<li>Clue: Family Guy Collector's Edition</li>
<li>Clue: Juicy Couture</li>{% endblock %}

{% block model_type_attribute %}
    &emsp;Board Game
{% endblock %}

{% block model_desc_attribute %}
    <p>The classic detective game! In Clue, players move from room to room in a mansion to solve the mystery of: who done it, with what, and where? Players are dealt character, weapon, and location cards after the top card from each card type is secretly placed in the confidential file in the middle of the board. Players must move to a room and then make an accusation against a character saying they did it in that room with a specific weapon. The player to the left must show one of any cards accused to the accuser if in that player's hand. Through deductive reasoning each player must figure out which character, weapon, and location are in the secret file. To do this, each player must uncover what cards are in other players hands by making more and more accusations. Once a player knows what cards the other players are holding, they will know what cards are in the secret file. A great game for those who enjoy reasoning and thinking things out.</p>
{% endblock %}

{% block model_family_attribute %}
    <li>Animals: Dogs</li>
    <li>Cartoons: Hanna-Barbera</li>
    <li>Characters: Asterix</li>
    <li>Characters: Sherlock Holmes</li>
    <li>Cluedo</li>
    <li>Hasbro Nostalgia Series</li>
{% endblock %}

{% block model_genre_attribute %}
    <li>Family</li>
    <li>Bluffing</li>
    <li>Deduction</li>
    <li>Movies / TV / Radio theme</li>
    <li>Murder / Mystery</li>
{% endblock %}

{% block model_year_attribute %}
    &emsp;1949
{% endblock %}

{% block model_pub_attribute %}
    <li>Alga</li>
    <li>Estrela</li>
    <li>Parker Brothers</li>
{% endblock %}

{% block model_artists_attribute %}
    <li>René Goscinny</li>
    <li>Matt Groening</li>
    <li>Rune Johansson</li>
    <li>Drew Struzan</li>
    <li>Albert Uderzo</li>
{% endblock %}

{% block model_dev_attribute %}
    &emsp;Anthony E. Pratt
{% endblock %}

{% block model_mechanics_attribute %}
    <li>Grid Movement</li>
    <li>Hand Management</li>
    <li>Memory</li>
    <li>Paper-and-Pencil</li>
    <li>Roll / Spin and Move</li>
{% endblock %}

{% block model_num_attribute %}
    &emsp;3-6 Players
{% endblock %}

{% block model_player_sugg_attribute %}
    <li>3-6 Players/Best: 4-5 Players</li>
    <li>Ages 8 and up</li>
    <li>Some necessary text - easily memorized or small crib sheet</li>
{% endblock %}

{% block model_price_attribute %}
    &emsp;$9.97
{% endblock %}

{% block model_rating_attribute %}
    &emsp;5.6/10
{% endblock %}