{% extends "game_models/game_model.html" %}

{% block model_name %}Monopoly{% endblock %}
{% block title %}Monopoly{% endblock %}
{% block page_id %}monopoly{% endblock %}
{% block games_active %}active{% endblock %}
{% block model_img %}https://i.ytimg.com/vi/DioPUDZRpPM/maxresdefault.jpg{% endblock %}

{% block model_alt_name_attribute %}
    <li>Inspopoly</li>
<li>Monopoly Token Madness</li>
<li>Monopoly: General Mills Collector's Edition</li>{% endblock %}

{% block model_type_attribute %}
    &emsp;Board Game
{% endblock %}

{% block model_desc_attribute %}
   <strong>Theme</strong>
        <p>Players take the part of land owners, attempting to buy and then develop their land. Income is gained by other players visiting their properties and money is spent when they visit properties belonging to other players. When times get tough, players may have to mortgage their properties to raise cash for fines, taxes and other misfortunes.</p>
    <strong>Gameplay</strong>
    <p>On his turn, a player rolls two dice and moves that number of spaces around the board. If the player lands on an as-yet-unowned property, he has the opportunity to buy it and add it to his portfolio or allow the bank to auction it to the highest bidder. If a player owns all the spaces within a color group, he may then build houses and hotels on these spaces, generating even more income from opponents who land there. If he lands on a property owned by another player, he must pay that player rent according to the value of the land and any buildings on it. There are other places on the board which can not be bought, but instead require the player to draw a card and perform the action on the card, pay taxes, collect income, or even go to jail.</p>
    <strong>Goal</strong>
    <p>The goal of the game is to be the last player remaining with any money.</p>
{% endblock %}

{% block model_family_attribute %}
    <li>Cereal Games</li>
    <li>Country: Poland</li>
    <li>Country: Sweden</li>
    <li>Country: Switzerland</li>
    <li>Hasbro Nostalgia Series</li>
    <li>Monopoly</li>
{% endblock %}

{% block model_genre_attribute %}
    <li>Family</li>
    <li>Economic</li>
    <li>Negotiation</li>
{% endblock %}

{% block model_year_attribute %}
    &emsp;1933
{% endblock %}

{% block model_pub_attribute %}
    <li>Alga</li>
    <li>Estrela</li>
    <li>Tilsit</li>
{% endblock %}

{% block model_artists_attribute %}
    &emsp;Frantz Rey
{% endblock %}

{% block model_dev_attribute %}
    &emsp;Elizabeth J. Magie
{% endblock %}

{% block model_mechanics_attribute %}
    <li>Auction/Bidding</li>
    <li>Player Elimination</li>
    <li>Roll / Spin and Move</li>
    <li>Set Collection</li>
    <li>Stock Holding</li>
    <li>Trading</li>
{% endblock %}

{% block model_num_attribute %}
    &emsp;2-8 Players
{% endblock %}

{% block model_player_sugg_attribute %}
    <li>3-6 Players/Best: 4 Players</li>
    <li>Ages 8 and up</li>
    <li>Moderate in-game text - needs crib sheet or paste ups</li>
{% endblock %}

{% block model_price_attribute %}
    &emsp;$14.99
{% endblock %}

{% block model_rating_attribute %}
    &emsp;4.4/10
{% endblock %}