{% extends "event_models/event_model.html" %}

{% block model_name %}Catan European Championships{% endblock %}
{% block title %}Catan European Championships{% endblock %}
{% block page_id %}cec{% endblock %}
{% block model_img %}http://i.imgur.com/R3vAV.jpg{% endblock %}

{% block model_host_attribute %}
    Germany{% endblock %}

{% block model_type_attribute %}
    Competition/Tournament
{% endblock %}

{% block model_desc_attribute %}
The Catan European Championships first began in 1995 in Germany and have since
been hosted every other year all around Europe to decide the best European Catan
player.
{% endblock %}

{% block model_interests_attribute %}
<ul>
    <li>
        <a href="../genres/negotiation">
                    Negotiation
        </a>
    </li>
    <li>
        <a href="../genres/economic">
                    Economic
        </a>
    </li>
</ul>
{% endblock %}

{% block model_loc_attribute %}
    Spielefest, Vienna
{% endblock %}

{% block model_date_attribute %}
    November 13 - 15, 2015
{% endblock %}

{% block model_games_attribute %}
    <a href="../games/catan">
        Catan
    </a>
{% endblock %}

{% block model_link_attribute %}
    <a href="https://www.catan.com/for-fans/catan-championships">https://www.catan.com/for-fans/catan-championships</a>
{% endblock %}

{% block model_past_attribute %}
   Lech Olczak (Poland) in 2015
{% endblock %}

{% block model_mem_attribute %}
    34 Competitors
{% endblock %}

{% block model_reward_attribute %}
    Trophy
{% endblock %}
