{% extends "event_models/event_model.html" %}

{% block model_name %}Catan World Championships{% endblock %}
{% block title %}Catan World Championships{% endblock %}
{% block page_id %}cwc{% endblock %}
{% block model_img %}http://www.erzo.org/shannon/images-rpg/catan5-1.jpg{% endblock %}

{% block model_host_attribute %}
    N/A{% endblock %}

{% block model_type_attribute %}
    &emsp;Competition/Tournament
{% endblock %}

{% block model_desc_attribute %}
N/A
{% endblock %}

{% block model_interests_attribute %}
    <li>
        <a href="../genres/negotiation">
                    Negotiation
        </a>
    </li>
    <li>
        <a href="../genres/economics">
                    Economics
        </a>
    </li>
{% endblock %}

{% block model_loc_attribute %}
    Durango, USA
{% endblock %}

{% block model_date_attribute %}
    September 23 - 26, 2016
{% endblock %}

{% block model_games_attribute %}
    <a href="../games/catan">
                    Catan
    </a>
{% endblock %}

{% block model_link_attribute %}
    N/A
{% endblock %}

{% block model_past_attribute %}
   William Cavareta
{% endblock %}

{% block model_feat_attribute %}
    N/A
{% endblock %}

{% block model_mem_attribute %}
    N/A
{% endblock %}

{% block model_rating_attribute %}
    N/A
{% endblock %}

{% block model_reward_attribute %}
    &emsp;N/A
{% endblock %}
