{% extends "base.html" %}

{% block content %}

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>{% block model_name %}{% endblock %}</h2>
    </div>
    <section id="model-picture">
         <img class="d-block w-300" src="{% block model_img %} {% endblock %}" height=300px>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Host/Organizer</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_host_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Description</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_desc_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Type of event</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_type_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Interests</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_interests_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>


<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Location </h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_loc_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Date/Schedule</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                    {% block model_date_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Games hosted</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_games_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Website Link</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_link_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Past Winners</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_past_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Features</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_feat_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Number Attending/Members</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_mem_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

<div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Rating</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_rating_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

    <div id="grid-header" class="page-header">
    <div class="page-header">
        <h2>Reward</h2>
    </div>
    <section class="grid-content">
        <div class="row">
            <section id="grid-model-name">
                {% block model_reward_attribute %}{% endblock %}
            </section>
        </div>
    </section>
</div>

{% endblock %}
