{% extends "event_models/event_model.html" %}

{% block model_name %}Monopoly World Championships{% endblock %}
{% block title %}Monopoly World Championships{% endblock %}
{% block page_id %}mwc{% endblock %}
{% block model_img %}https://i5.walmartimages.ca/images/Large/313/221/1313221.jpg?odnBound=460{% endblock %}

{% block model_host_attribute %}
    N/A{% endblock %}

{% block model_type_attribute %}
    &emsp;Competition/Tournament
{% endblock %}

{% block model_desc_attribute %}
The structure of the tournament has players competing in 3 preliminary rounds before advancing to the semi-finals.  Three rounds are enough to separate the wheat from the chaff and allow the better players to advance.  The first two rounds will be the most important though to set up their positions since 16 out of 28 players advance to the semi-finals.  The third round can be frustrating for those players below the line.  Top ranked players may take a strategy to earn only a few points to cement their place in the semi-finals and are dis-incentivized to trade, while Bottom-ranked players may do the same so they can go home without being in last place.  60 Minutes is enough time to take this tactic—it wouldn’t work if there were more time on the clock.  Bottom-ranked players may also become more reckless and desperate in this last round.  Thus, it can be a frustrating round for a player needing to move up.

The semifinals will be the key round.  Whoever wins their table makes the Finals.  With the strongest players at these tables, luck and interpersonal skills really will come into play as tensions will be high.
{% endblock %}

{% block model_interests_attribute %}
<ul>
    <li>
        <a href="../genres/negotiation">
                    Negotiation
        </a>
    </li>
    <li>
        <a href="../genres/economic">
                    Economic
        </a>
    </li>
</ul>
{% endblock %}

{% block model_loc_attribute %}
    Macau
{% endblock %}

{% block model_date_attribute %}
    September 8, 2015
{% endblock %}

{% block model_games_attribute %}
    <a href="../games/monopoly">
        Monopoly
    </a>
{% endblock %}

{% block model_link_attribute %}
<a href="http://monopolytournaments.com/">http://monopolytournaments.com/</a>
{% endblock %}

{% block model_past_attribute %}
   Nicolò Falcone (Italy) in 2015
{% endblock %}

{% block model_feat_attribute %}
    N/A
{% endblock %}

{% block model_mem_attribute %}
    28 Competitors
{% endblock %}

{% block model_rating_attribute %}
    N/A
{% endblock %}

{% block model_reward_attribute %}
    &emsp;$20,480
{% endblock %}
