{% extends "event_models/event_model.html" %}

{% block model_name %}Monopoly World Championships{% endblock %}
{% block title %}Monopoly World Championships{% endblock %}
{% block page_id %}mwc{% endblock %}
{% block model_img %}https://i5.walmartimages.ca/images/Large/313/221/1313221.jpg?odnBound=460{% endblock %}

{% block model_host_attribute %}
    N/A{% endblock %}

{% block model_type_attribute %}
    &emsp;Competition/Tournament
{% endblock %}

{% block model_desc_attribute %}
N/A
{% endblock %}

{% block model_interests_attribute %}
    <li>
        <a href="../genres/negotiation">
                    Negotiation
        </a>
    </li>
    <li>
        <a href="../genres/economics">
                    Economics
        </a>
    </li>
{% endblock %}

{% block model_loc_attribute %}
    Macau
{% endblock %}

{% block model_date_attribute %}
    September 8, 2015
{% endblock %}

{% block model_games_attribute %}
    <a href="../games/monopoly">
        Monopoly
    </a>
{% endblock %}

{% block model_link_attribute %}
    N/A
{% endblock %}

{% block model_past_attribute %}
   Nicolò Falcone
{% endblock %}

{% block model_feat_attribute %}
    N/A
{% endblock %}

{% block model_mem_attribute %}
    N/A
{% endblock %}

{% block model_rating_attribute %}
    N/A
{% endblock %}

{% block model_reward_attribute %}
    &emsp;N/A
{% endblock %}
